# Ignore all raw data contents
raw_data/*
!raw_data/.gitkeep

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual envs
venv/
.env/

# Ignore system files
.DS_Store

# Ignore Firebase key
app/firebase_key.json

# Ignore Streamlit secrets
.streamlit/secrets.toml

.devconntainer
